body {
  background: #e5e5e5;
  font-family: 'Roboto Mono', sans-serif;
}

h1{
  font-weight: 300;
  text-align: center;
}

p {
  color: #fff;
  font-size: 20pt;
  font-weight: 700;
}

.animate {
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.controls {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex: end;
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 1;

}

.controls button {
  width: 100px;
  height: 50px;
  background: #00ff88;
  font-weight: 600;
  color: #0e1324;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
  margin-top: 50px;
  transition: transform 0.3s ease 0s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.controls button:hover{
  transform: translateY(-3px);
  background-color: #0e1324;
  color: #00ff88;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: auto;
}

div {
  width: 50%;
  float: right;
}

div.bloco {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 100px;
    background-color: #201b2c;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.5s ease;
}


img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}