* {
  margin: 0;
}

body {
  background: #201b2c;
  font-family: 'Roboto Mono', sans-serif;
}

h1{
  font-weight: 900;
  text-align: center;
  color: #fff;
}

h2 {
    font-weight: 900;
    text-align: center;
    color: #fff;
}

p {
  color: #fff;
  font-size: 20pt;
  font-weight: 700;
}

.animate {
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex: end;
    position: fixed;
    top: 0;
    z-index: 1;

}

.controls button {
  width: 120px;
  height: 70px;
  background: #00ff88;
  font-weight: 700;
  letter-spacing: 2px;
  color: #0e1324;
  border: none;
  border-radius: 2px;
  margin-bottom: -70px;
  margin-right: 300px;
  margin-top: 115px;
  transition: transform 0.3s ease 0s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.controls button:hover{
  transform: translateY(-3px);
  background-color: #0e1324;
  color: #00ff88;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 35px;
  gap: 10px;
  height: auto;
}

div {
  width: 62%;
  margin-right: 100px;
  float: right;
}

div.bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 150px;
    height: 100px;
    background-color: #0e1324;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s ease;
}


img {
  max-width: 100%;
  max-height: 100%;
}

/* Estilize a imagem para posicioná-la no canto inferior direito */
.img-corner {
  width: 410px;
  height: 280px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 70px;
  margin-right: 300px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}